<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menú</title>
<style>
    @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');


    .main-menu {
        background: #132e3e;
        border-right: 2px solid #90c9a7;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 80px;
        overflow: hidden;
        z-index: 1000;
    }

    .main-menu:hover {
        width: 250px;
    }

    .main-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .main-menu li a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 20px;
    }

    .main-menu li a .fa {
        width: 60px;
        font-size: 30px;
        text-align: center;
    }

    .main-menu li a .nav-text {
        flex: 1;
        opacity: 0;
        transition: opacity 0.15s ease;
        white-space: nowrap;
    }

    .main-menu:hover li a .nav-text {
        opacity: 1;
    }

    .main-menu li:hover a,
    .main-menu li.active a {
        background-color: #000;
        color: #fff;
    }

    .logout {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    .area {
        margin-left: 80px;
        padding: 20px;
        background: #e2e2e2;
        height: 100vh;
    }

    .main-menu:hover ~ .area {
        margin-left: 250px;
    }
    
</style>
</head>
<body>
   <div class="area"></div><nav class="main-menu">
            <ul>
                <br>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                          menu principal
                        </span>
                    </a>
                  
                </li>
                <br>
                  <br>
                  <li>

     <li>

     {{#if administrativo}}

<li>
    <a href="/menuempresa">
        <i class="fa fa-building-o fa-2x"></i>
        <span class="nav-text">
            Menú Empresa
        </span>
    </a>
</li>
   {{/if}}


                  <br>
                 
                <br>
                <li class="has-subnav">
                    <a href="/menuempleados">
        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                                     menu empleados
                        </span>
                    </a>
                    
                </li>
                <br> 
                <br>

            


            
                           <li class="has-subnav">
                    <a href="#">
        <i class="fa fa-wrench fa-2x"></i>
                        <span id="texx" class="nav-text">
                            Soporte
                        </span>
                    </a>
                   
                </li>
             <br>
             <br>
 {{#if administrativo}}
               <li class="has-subnav">
                    <a href="#">
        <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            configuracion
                        </span>
                    </a>
                    
                </li>
                <br>
                <br>
                   {{/if}}
            </ul>

 <ul class="logout"><li>
<a href="/logout">
<i class="fa fa-power-off fa-2x"></i>
 <span class="nav-text">Logout</span>
 </a>
 </li>  
 </ul>
 </nav>

</body>
</html>