
    {{{body}}}
    <script>
        function toggleMenu() {
            const menu = document.querySelector('#nav-bar .menu');
            const hamburger = document.querySelector('#nav-bar .hamburger');
            menu.classList.toggle('active');
            hamburger.classList.toggle('active');
        }
    </script>
</body>
</html>
